/* CSS variables */
:root {
    --primary-color: #0a1128;
    --secondary-color: #001f54;
    --ternary-color: #034078;
    --quaternary-color: #1282a2;
    --quinary-color: #fefcfb;
    --font-size-base: 16px;
    --font-family-base: "Roboto Mono", monospace;
}

/* Global styles */
body {
    font-size: var(--font-size-base);
    font-family: var(--font-family-base);
    color: var(--quinary-color);
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
}
nav {
    position: fixed;
    width: 100%;
    height: 120px;
    background-color: var(--ternary-color);
    z-index: 1000;
}

.nav-img-holder {
    position: absolute;
    top: 50%;
    left: 50px;
    translate: 0 -50%;
    box-sizing: border-box;
    height: 80%;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
    border-style: hidden;
}

.nav-img-holder img {
    height: 100%;
}

.teams-div {
    padding: 120px;
    position: relative;
}
.attr-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 4em;
    margin-bottom: 50px;
}
.btns-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 1em;
    width: 40%;
}
.btns-container button {
    cursor: pointer;
    font-size: 1.2em;
    border: 2px groove var(--quaternary-color);
    border-radius: 5px;
    height: 40px;
    background-color: var(--quinary-color);
}
.upper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
.usa-map {
    position: relative;
    margin-top: 50px;
    width: fit-content;
    overflow: hidden;
    cursor: grab;
}
.states {
    fill: var(--quinary-color);
    stroke: var(--quaternary-color);
}
.slide-container {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 40%;
    display: flex;
    height: 35px;
}
.criteria-radio {
    position: absolute;
    right: 0;
    top: 50%;
    translate: 0 -50%;
    width: 20%;
}
.slider {
    margin-left: 10px;
    width: 100%;
}
.play-btn,
.pause-btn {
    padding: 3px;
    background-color: rgba(255, 255, 255, 0.8);
    border-style: hidden;
    border-radius: 100%;
    width: 35px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.show {
    display: block;
}
.play-btn img,
.pause-btn img {
    height: 100%;
}

.slider-value {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background-color: var(--quinary-color);
    color: var(--primary-color);
    font-size: 1em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.tooltip {
    position: absolute;
    opacity: 0;
    z-index: 1000;
    pointer-events: none;
    display: block;
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    padding: 10px;
}

.plots-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    gap: 20px;
    justify-items: center;
    align-items: center;
}

.bar-chart {
    grid-column: span 2;
    justify-self: center;
  }